{% extends 'base.html' %}
{% load static %}
{% block title %} login {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
          {% if user.is_authenticated %}
          <script type="text/javascript">
            window.location.href = "{% url 'home' %}";
        </script>
          {% else %}
            <div class="login-usuaio">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button type="submit">login </button>
                </form>

            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}